In [1]:
#Script for scraping data from IMDB , Youtube and Box Offfice 
#Final analysis is in the blog post below
#https://medium.com/@chawannut157/will-avenger-infinity-war-surpass-titanic-633638c9ac24
#Might need to adjust IP in youtube API

import requests as rq
from bs4 import BeautifulSoup
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Construct URL for scraping top 700 box office movies
all_url = []
temp = 'http://www.boxofficemojo.com/alltime/world/?pagenum'
#temp
for i in range(8):
    all_url.append(temp + '=' + str(i+1) + '&p=.htm')
    #print(temp + '=' + str(i+1) + '&p=.htm' )
all_url

#For test use only the first two URLs
#Delete this line if scrape everything
all_url = all_url[0:2]

In [3]:
#This chunk if for scraping name and revenue
name = []
rev = []

for k in all_url:
    r = rq.get(k)
    html = r.text
    soup = BeautifulSoup(html, "html5lib")
    type(soup)
    a = soup.findAll('b')
    a = a[3:len(a)-3]
    for i in range(len(a)):
        if i%2 == 0:
            name.append(a[i].get_text())
        else:
            rev.append(float(a[i].get_text()[1:].replace(",","")))
    
name = np.array(name).reshape(-1,1)
rev = np.array(rev).reshape(-1,1)

In [4]:
df = pd.DataFrame({'name' :name.ravel()  ,
                              'rev': rev.ravel().astype('float')})
df.head()

                           name     rev
0                        Avatar  2788.0
1                       Titanic  2187.5
2  Star Wars: The Force Awakens  2068.2
3                Jurassic World  1671.7
4         Marvel's The Avengers  1518.8

In [5]:
#Getting Distributor , Genre , Ratings and Budget

distributor = []
genre = []
rating  = []
budget = []

for url in all_url:
    r = rq.get(url)
    html = r.text
    soup = BeautifulSoup(html, "html5lib")
    #type(soup)
    a = soup.findAll('a' , href = True)
    link_text = [a['href'] for a in soup.find_all('a', href=True) if a.text.strip()]
    
    for m in range(38,len(link_text)-27):
        #print(link_text[m])
        new_url =  "http://www.boxofficemojo.com" + link_text[m]
        r = rq.get(new_url)
        html = r.text
        soup = BeautifulSoup(html, "html5lib")
        a = soup.find("table" , {"style" : "padding-top: 5px;"}  )
        children = a.findAll("td" , {"valign" : "top"})
        
        distributor.append(children[2].get_text())
        genre.append(children[4].get_text())
        rating.append(children[6].get_text())
        budget.append(children[7].get_text())

print(distributor[0:5])
print(genre[0:5])
print(rating[0:5])
print(budget[0:5])

['Distributor: Fox', 'Distributor: Paramount', 'Distributor: Buena Vista', 'Distributor: Universal', 'Distributor: Buena Vista']
['Genre: Sci-Fi Adventure', 'Genre: Romance', 'Genre: Sci-Fi Fantasy', 'Genre: Action / Adventure', 'Genre: Action / Adventure']
['MPAA Rating: PG-13', 'MPAA Rating: PG-13', 'MPAA Rating: PG-13', 'MPAA Rating: PG-13', 'MPAA Rating: PG-13']
['Production Budget: $237 million', 'Production Budget: $200 million', 'Production Budget: $245 million', 'Production Budget: $150 million', 'Production Budget: $220 million']

In [6]:
#Clean up text 

genre_new , Distributor_new , rating_new , budget_new = [] , [] , [] , []
for i in range(len(genre)):
    genre_new.append(genre[i][genre[i].find(":")+1:])
    Distributor_new.append(distributor[i][distributor[i].find(":")+1:])
    rating_new.append(rating[i][rating[i].find(":")+1:])
    budget_new.append(budget[i][budget[i].find("$")+1:].split()[0])

genre_new = np.array(genre_new)
Distributor_new = np.array(Distributor_new)
rating_new = np.array(rating_new)
budget_new = np.array(budget_new)
budget_new[np.where(budget_new== 'Production')] = "NaN"

In [7]:
#dat = pd.DataFrame(genre_new ,  Distributor_new , rating_new  )
df['genre'] =  genre_new.ravel() 
df['Distributor'] =  Distributor_new.ravel()
df['Rating'] =  rating_new.ravel()
df['Budget'] = budget_new.ravel()
df['Budget'].replace('NaN' , np.NaN)
df['Budget'] = pd.to_numeric(df['Budget'] , errors='coerce')
#budget_new.replace('NaN', np.NaN)
df.head()

,name,rev,genre,Distributor,Rating,Budget
0,Avatar,2788.0,Sci-Fi Adventure,Fox,PG-13,237.0
1,Titanic,2187.5,Romance,Paramount,PG-13,200.0
2,Star Wars: The Force Awakens,2068.2,Sci-Fi Fantasy,Buena Vista,PG-13,245.0
3,Jurassic World,1671.7,Action / Adventure,Universal,PG-13,150.0
4,Marvel's The Avengers,1518.8,Action / Adventure,Buena Vista,PG-13,220.0

In [8]:
#get year 
year = []
for k in all_url:
    r = rq.get(k)
    html = r.text
    soup = BeautifulSoup(html, "html5lib")
    a = soup.findAll('td' , {"align" : "center" } , {"size" : "2"})
    for i in range(9 , len(a),  2):
        temp = (a[i].get_text())[0:4]
        year.append(temp)

In [9]:
df['Year'] = year
df.head()

,name,rev,genre,Distributor,Rating,Budget,Year
0,Avatar,2788.0,Sci-Fi Adventure,Fox,PG-13,237.0,2009
1,Titanic,2187.5,Romance,Paramount,PG-13,200.0,1997
2,Star Wars: The Force Awakens,2068.2,Sci-Fi Fantasy,Buena Vista,PG-13,245.0,2015
3,Jurassic World,1671.7,Action / Adventure,Universal,PG-13,150.0,2015
4,Marvel's The Avengers,1518.8,Action / Adventure,Buena Vista,PG-13,220.0,2012

In [ ]:
#Test
import sys
sys.path

In [13]:
#Get youtube data 
# Scraping Youtube View 
#sys.path.remove("C:\\Users\\USA\\youtube_tutorial")
from apiclient.discovery import build #pip install google-api-python-client
from apiclient.errors import HttpError #pip install google-api-python-client
from oauth2client.tools import argparser #pip install oauth2client
sys.path.append("C:\\Users\\USA\\youtube_tutorial")
from youtube_videos import youtube_search
from youtube_videos import geo_query
import json

In [15]:
#Need to change API_KEY IN youtube_tutorial + also need to add current IP address on Youube API Console
viewCount = likeCount = dislikeCount = commentCount = 0 
viewCount_store  = []
likeCount_store = [] 
dislikeCount_store = [] 
commentCount_store = []

for idx , movie in enumerate(name):
    print(idx , movie)
    test = youtube_search(str(movie)[2:-2] + " Trailers")
    #Extract only top three result
    for video in test[1][0:3]:
        #print (video['id']['videoId'])
        k = geo_query(video['id']['videoId'])
       # print(k['items'][0]['statistics'])
        #print(viewCount)
        try:
            viewCount +=   int(k['items'][0]['statistics']['viewCount'])
            likeCount +=  int(k['items'][0]['statistics']['likeCount'])
            dislikeCount += int(k['items'][0]['statistics']['dislikeCount'])
            commentCount += int(k['items'][0]['statistics']['commentCount'])
        except Exception:
            likeCount +=  0
            dislikeCount += 0
            commentCount += 0
        
    #print(viewCount)
    viewCount_store.append(viewCount)
    #print(viewCount_store)
    likeCount_store.append(likeCount)
    dislikeCount_store.append(dislikeCount)
    commentCount_store.append(commentCount)
    viewCount = 0 
    likeCount = 0 
    dislikeCount = 0 
    commentCount = 0
        #dislikeCount += dislikeCount + int(k['items'][0]['statistics']['dislikeCount'])
        
        #print(commentCount)
        #print(likeCount)/        #print(k['items'][0]['statistics'])

#test

0 ['Avatar']
1 ['Titanic']
2 ['Star Wars: The Force Awakens']
3 ['Jurassic World']
4 ["Marvel's The Avengers"]
5 ['Furious 7']
6 ['Avengers: Age of Ultron']
7 ['Harry Potter and the Deathly Hallows Part 2']
8 ['Frozen']
9 ['Beauty and the Beast (2017)']
10 ['The Fate of the Furious']
11 ['Star Wars: The Last Jedi']
12 ['Iron Man 3']
13 ['Minions']
14 ['Captain America: Civil War']
15 ['Transformers: Dark of the Moon']
16 ['The Lord of the Rings: The Return of the King']
17 ['Skyfall']
18 ['Transformers: Age of Extinction']
19 ['The Dark Knight Rises']
20 ['Toy Story 3']
21 ["Pirates of the Caribbean: Dead Man's Chest"]
22 ['Rogue One: A Star Wars Story']
23 ['Pirates of the Caribbean: On Stranger Tides']
24 ['Despicable Me 3']
25 ['Jurassic Park']
26 ['Finding Dory']
27 ['Star Wars: Episode I - The Phantom Menace']
28 ['Alice in Wonderland (2010)']
29 ['Zootopia']
30 ['The Hobbit: An Unexpected Journey']
31 ['The Dark Knight']
32 ["Harry Potter and the Sorcerer's Stone"]
33 ['Despicable Me 2']
34 ['The Lion King']
35 ['The Jungle Book (2016)']
36 ["Pirates of the Caribbean: At World's End"]
37 ['Harry Potter and the Deathly Hallows Part 1']
38 ['The Hobbit: The Desolation of Smaug']
39 ['The Hobbit: The Battle of the Five Armies']
40 ['Finding Nemo']
41 ['Harry Potter and the Order of the Phoenix']
42 ['Harry Potter and the Half-Blood Prince']
43 ['The Lord of the Rings: The Two Towers']
44 ['Shrek 2']
45 ['Harry Potter and the Goblet of Fire']
46 ['Spider-Man 3']
47 ['Ice Age: Dawn of the Dinosaurs']
48 ['Spectre']
49 ['Spider-Man: Homecoming']
50 ['Harry Potter and the Chamber of Secrets']
51 ['Ice Age: Continental Drift']
52 ['The Secret Life of Pets']
53 ['Batman v Superman: Dawn of Justice']
54 ['The Lord of the Rings: The Fellowship of the Ring']
55 ['Wolf Warrior 2']
56 ['The Hunger Games: Catching Fire']
57 ['Guardians of the Galaxy Vol. 2']
58 ['Inside Out']
59 ['Thor: Ragnarok']
60 ['Star Wars: Episode III - Revenge of the Sith']
61 ['Transformers: Revenge of the Fallen']
62 ['The Twilight Saga: Breaking Dawn Part 2']
63 ['Inception']
64 ['Wonder Woman']
65 ['Spider-Man']
66 ['Independence Day']
67 ['Fantastic Beasts and Where To Find Them']
68 ['Shrek the Third']
69 ['Harry Potter and the Prisoner of Azkaban']
70 ['Pirates of the Caribbean: Dead Men Tell No Tales']
71 ['E.T.: The Extra-Terrestrial']
72 ['Fast & Furious 6']
73 ['Indiana Jones and the Kingdom of the Crystal Skull']
74 ['Spider-Man 2']
75 ['Deadpool']
76 ['Star Wars']
77 ['Guardians of the Galaxy']
78 ['2012']
79 ['Maleficent']
80 ['The Da Vinci Code']
81 ['The Amazing Spider-Man']
82 ['The Hunger Games: Mockingjay - Part 1']
83 ['Shrek Forever After']
84 ['X-Men: Days of Future Past']
85 ["Madagascar 3: Europe's Most Wanted"]
86 ['Suicide Squad']
87 ['The Chronicles of Narnia: The Lion, the Witch and the Wardrobe']
88 ['Monsters University']
89 ['The Matrix Reloaded']
90 ['Up']
91 ['Gravity']
92 ['Captain America: The Winter Soldier']
93 ['The Twilight Saga: Breaking Dawn Part 1']
94 ['Dawn of the Planet of the Apes']
95 ['The Twilight Saga: New Moon']
96 ['Transformers']
97 ['The Amazing Spider-Man 2']
98 ['It']
99 ['The Twilight Saga: Eclipse']
100 ['Mission: Impossible - Ghost Protocol']
101 ['The Hunger Games']
102 ['Mission: Impossible - Rogue Nation']
103 ['Forrest Gump']
104 ['Doctor Strange']
105 ['Interstellar']
106 ['The Sixth Sense']
107 ['Man of Steel']
108 ['Kung Fu Panda 2']
109 ['Ice Age: The Meltdown']
110 ['Big Hero 6']
111 ['Pirates of the Caribbean: The Curse of the Black Pearl']
112 ['The Hunger Games: Mockingjay - Part 2']
113 ['Justice League']
114 ['Star Wars: Episode II - Attack of the Clones']
115 ['Thor: The Dark World']
116 ['Moana']
117 ['Sing']
118 ['The Incredibles']
119 ['Kung Fu Panda']
120 ['The Martian']
121 ['Fast Five']
122 ['Hancock']
123 ['MIB 3']
124 ['Iron Man 2']
125 ['How to Train Your Dragon 2']
126 ['Ratatouille']
127 ['The Lost World: Jurassic Park']
128 ['Logan']
129 ['The Passion of the Christ']
130 ['Mamma Mia!']
131 ['Life of Pi']
132 ['Transformers: The Last Knight']
133 ['Madagascar: Escape 2 Africa']
134 ['Casino Royale']
135 ['Tangled']
136 ['War of the Worlds']
137 ['Coco']
138 ['Men in Black']
139 ['The Croods']
140 ['The Hangover Part II']
141 ['Quantum of Solace']
142 ['I Am Legend']
143 ['Iron Man']
144 ['Monsters, Inc.']
145 ['Night at the Museum']
146 ['Fifty Shades of Grey']
147 ['Kong: Skull Island']
148 ['The Smurfs']
149 ['Cars 2']
150 ['Puss in Boots']
151 ['The Mermaid (Mei ren yu)']
152 ['Armageddon']
153 ['King Kong']
154 ['Ted']
155 ['American Sniper']
156 ['Mission: Impossible II']
157 ['Sherlock Holmes: A Game of Shadows']
158 ['The Day After Tomorrow']
159 ['X-Men: Apocalypse']
160 ['Cinderella (2015)']
161 ['Despicable Me']
162 ['Brave']
163 ['World War Z']
164 ['The Empire Strikes Back']
165 ['WALL-E']
166 ['The Revenant']
167 ['Madagascar']
168 ['Godzilla (2014)']
169 ['Jumanji: Welcome to the Jungle']
170 ['The Simpsons Movie']
171 ['Dunkirk']
172 ['Sherlock Holmes']
173 ['Kung Fu Panda 3']
174 ['Terminator 2: Judgment Day']
175 ['Ant-Man']
176 ['Meet the Fockers']
177 ['Ghost']
178 ['Aladdin']
179 ['Rio 2']
180 ['The Boss Baby']
181 ['Troy']
182 ['Toy Story 2']
183 ['How to Train Your Dragon']
184 ['Twister']
185 ['Teenage Mutant Ninja Turtles (2014)']
186 ['Oz The Great and Powerful']
187 ['Clash of the Titans (2010)']
188 ['War for the Planet of the Apes']
189 ['Angels & Demons']
190 ['Rio']
191 ['Bruce Almighty']
192 ['Shrek']
193 ['Saving Private Ryan']
194 ['Rise of the Planet of the Apes']
195 ['Mr. & Mrs. Smith']
196 ['Home Alone']
197 ['Return of the Jedi']
198 ['Charlie and the Chocolate Factory']
199 ['Indiana Jones and the Last Crusade']

In [16]:
df['view'] , df['like'] , df['dislike'] , df['comment']= viewCount_store , likeCount_store , dislikeCount_store , commentCount_store
df['Year'] = pd.to_numeric(df['Year'])
df.dtypes

name            object
rev            float64
genre           object
Distributor     object
Rating          object
Budget         float64
Year             int64
view             int64
like             int64
dislike          int64
comment          int64
dtype: object

In [18]:
df.to_csv('all_data_movies_github.csv')
df.head()

,name,rev,genre,Distributor,Rating,Budget,Year,view,like,dislike,comment
0,Avatar,2788.0,Sci-Fi Adventure,Fox,PG-13,237.0,2009,19969689,22516,2438,10470
1,Titanic,2187.5,Romance,Paramount,PG-13,200.0,1997,16946495,40140,1828,10625
2,Star Wars: The Force Awakens,2068.2,Sci-Fi Fantasy,Buena Vista,PG-13,245.0,2015,185296041,1098560,44362,209189
3,Jurassic World,1671.7,Action / Adventure,Universal,PG-13,150.0,2015,134024200,930345,47813,127443
4,Marvel's The Avengers,1518.8,Action / Adventure,Buena Vista,PG-13,220.0,2012,146332842,2919978,62906,401853

In [19]:
from imdb import IMDb

In [20]:
import time
rating_avg = []
m_temp = []
ia = IMDb()
for mov in df['name']:    
    try:
            movies = ia.search_movie(mov)
    except Exception:
            m_temp.append(mov)
            rating_avg.append(0)
    
    try:
            movies = ia.search_movie(mov) 
            item = movies[0]
            ia.update(item)
            m_temp.append(mov)
            rating_avg.append(item['rating'])
    except Exception:
            pass
    #Ensure that everything match
    print("Movie at " , len(m_temp) , " Rating at ", len(rating_avg))
    #print(item['rating'])
    #time.sleep(np.random.random(1))

Movie at  1  Rating at  1
Movie at  2  Rating at  2
Movie at  3  Rating at  3
Movie at  4  Rating at  4
Movie at  5  Rating at  5
Movie at  6  Rating at  6
Movie at  7  Rating at  7
Movie at  8  Rating at  8
Movie at  9  Rating at  9
Movie at  10  Rating at  10
Movie at  11  Rating at  11
Movie at  12  Rating at  12
Movie at  13  Rating at  13
Movie at  14  Rating at  14
Movie at  15  Rating at  15
Movie at  16  Rating at  16
Movie at  17  Rating at  17
Movie at  18  Rating at  18
Movie at  19  Rating at  19
Movie at  20  Rating at  20
Movie at  21  Rating at  21
Movie at  22  Rating at  22
Movie at  23  Rating at  23
Movie at  24  Rating at  24
Movie at  25  Rating at  25
Movie at  26  Rating at  26
Movie at  27  Rating at  27
Movie at  28  Rating at  28
Movie at  29  Rating at  29
Movie at  30  Rating at  30
Movie at  31  Rating at  31
Movie at  32  Rating at  32
Movie at  33  Rating at  33
Movie at  34  Rating at  34
Movie at  35  Rating at  35
Movie at  36  Rating at  36
Movie at  37  Rating at  37
Movie at  38  Rating at  38
Movie at  39  Rating at  39
Movie at  40  Rating at  40
Movie at  41  Rating at  41
Movie at  42  Rating at  42
Movie at  43  Rating at  43
Movie at  44  Rating at  44
Movie at  45  Rating at  45
Movie at  46  Rating at  46
Movie at  47  Rating at  47
Movie at  48  Rating at  48
Movie at  49  Rating at  49
Movie at  50  Rating at  50
Movie at  51  Rating at  51
Movie at  52  Rating at  52
Movie at  53  Rating at  53
Movie at  54  Rating at  54
Movie at  55  Rating at  55
Movie at  56  Rating at  56
Movie at  57  Rating at  57
Movie at  58  Rating at  58
Movie at  59  Rating at  59
Movie at  60  Rating at  60
Movie at  61  Rating at  61
Movie at  62  Rating at  62
Movie at  63  Rating at  63
Movie at  64  Rating at  64
Movie at  65  Rating at  65
Movie at  66  Rating at  66
Movie at  67  Rating at  67
Movie at  68  Rating at  68
Movie at  69  Rating at  69
Movie at  70  Rating at  70
Movie at  71  Rating at  71
Movie at  72  Rating at  72
Movie at  73  Rating at  73
Movie at  74  Rating at  74
Movie at  75  Rating at  75
Movie at  76  Rating at  76
Movie at  77  Rating at  77
Movie at  78  Rating at  78
Movie at  79  Rating at  79
Movie at  80  Rating at  80
Movie at  81  Rating at  81
Movie at  82  Rating at  82
Movie at  83  Rating at  83
Movie at  84  Rating at  84
Movie at  85  Rating at  85
Movie at  86  Rating at  86
Movie at  87  Rating at  87
Movie at  88  Rating at  88
Movie at  89  Rating at  89
Movie at  90  Rating at  90
Movie at  91  Rating at  91
Movie at  92  Rating at  92
Movie at  93  Rating at  93
Movie at  94  Rating at  94
Movie at  95  Rating at  95
Movie at  96  Rating at  96
Movie at  97  Rating at  97
Movie at  98  Rating at  98
Movie at  99  Rating at  99
Movie at  100  Rating at  100
Movie at  101  Rating at  101
Movie at  102  Rating at  102
Movie at  103  Rating at  103
Movie at  104  Rating at  104
Movie at  105  Rating at  105
Movie at  106  Rating at  106
Movie at  107  Rating at  107
Movie at  108  Rating at  108
Movie at  109  Rating at  109
Movie at  110  Rating at  110
Movie at  111  Rating at  111
Movie at  112  Rating at  112
Movie at  113  Rating at  113
Movie at  114  Rating at  114
Movie at  115  Rating at  115
Movie at  116  Rating at  116
Movie at  117  Rating at  117
Movie at  118  Rating at  118
Movie at  119  Rating at  119
Movie at  120  Rating at  120
Movie at  121  Rating at  121
Movie at  122  Rating at  122
Movie at  123  Rating at  123
Movie at  124  Rating at  124
Movie at  125  Rating at  125
Movie at  126  Rating at  126
Movie at  127  Rating at  127
Movie at  128  Rating at  128
Movie at  129  Rating at  129
Movie at  130  Rating at  130
Movie at  131  Rating at  131
Movie at  132  Rating at  132
Movie at  133  Rating at  133
Movie at  134  Rating at  134
Movie at  135  Rating at  135
Movie at  136  Rating at  136
Movie at  137  Rating at  137
Movie at  138  Rating at  138
Movie at  139  Rating at  139
Movie at  140  Rating at  140
Movie at  141  Rating at  141
Movie at  142  Rating at  142
Movie at  143  Rating at  143
Movie at  144  Rating at  144
Movie at  145  Rating at  145
Movie at  146  Rating at  146
Movie at  147  Rating at  147
Movie at  148  Rating at  148
Movie at  149  Rating at  149
Movie at  150  Rating at  150
Movie at  151  Rating at  151
Movie at  152  Rating at  152
Movie at  153  Rating at  153
Movie at  154  Rating at  154
Movie at  155  Rating at  155
Movie at  156  Rating at  156
Movie at  157  Rating at  157
Movie at  158  Rating at  158
Movie at  159  Rating at  159
Movie at  160  Rating at  160
Movie at  161  Rating at  161
Movie at  162  Rating at  162
Movie at  163  Rating at  163
Movie at  164  Rating at  164
Movie at  165  Rating at  165
Movie at  166  Rating at  166
Movie at  167  Rating at  167
Movie at  168  Rating at  168
Movie at  169  Rating at  169
Movie at  170  Rating at  170
Movie at  171  Rating at  171
Movie at  172  Rating at  172
Movie at  173  Rating at  173
Movie at  174  Rating at  174
Movie at  175  Rating at  175
Movie at  176  Rating at  176
Movie at  177  Rating at  177
Movie at  178  Rating at  178
Movie at  179  Rating at  178
Movie at  180  Rating at  179
Movie at  181  Rating at  180
Movie at  182  Rating at  181
Movie at  183  Rating at  182
Movie at  184  Rating at  183
Movie at  185  Rating at  184
Movie at  186  Rating at  185
Movie at  187  Rating at  186
Movie at  188  Rating at  187
Movie at  189  Rating at  188
Movie at  190  Rating at  189
Movie at  191  Rating at  190
Movie at  192  Rating at  191
Movie at  193  Rating at  192
Movie at  194  Rating at  193
Movie at  195  Rating at  194
Movie at  196  Rating at  195
Movie at  197  Rating at  196
Movie at  198  Rating at  197
Movie at  199  Rating at  198
Movie at  200  Rating at  199

In [21]:
#Other data is available as well but not used at the moment
#item = movies[0]
#item
#ia.update(item)
#ia.update(item , 'goofs')
#print(item.keys())
#print(item['votes'])
#print(item['plot outline'])
#print(item['votes'])
#print(item['title'])
#print(item['median'])

#for item in movies:
#print(item['long imdb canonical title'], item.movieID)
#for item in movies:
# print(item['rating'])

['title', 'kind', 'year', 'genres', 'runtimes', 'countries', 'country codes', 'language codes', 'color info', 'aspect ratio', 'sound mix', 'certificates', 'rating', 'votes', 'cover url', 'plot outline', 'languages', 'akas', 'plot', 'canonical title', 'long imdb title', 'long imdb canonical title', 'smart canonical title', 'smart long imdb canonical title', 'full-size cover url']
577112
An art collector appeals to Jones to embark on a search for the Holy Grail. He learns that another archaeologist has disappeared while searching for the precious goblet, and the missing man is his own father, Dr. Henry Jones. The artifact is much harder to find than they expected, and its powers are too much for those impure in heart.
577112
Indiana Jones and the Last Crusade

In [ ]:
#rating_avg.append(8.0)
#rating_avg.append(6.7)

In [ ]:
#rating_avg
#vowel = ['a', 'e', 'i', 'u']
# inserting element to list at 4th position
#vowel.insert(3, 'o')
#rating_avg.insert(177, 8.0)
#rating_avg.insert(378, 6.7)

In [23]:
#rating_avg_2 = rating_avg[:718]
df.head()

,name,rev,genre,Distributor,Rating,Budget,Year,view,like,dislike,comment
0,Avatar,2788.0,Sci-Fi Adventure,Fox,PG-13,237.0,2009,19969689,22516,2438,10470
1,Titanic,2187.5,Romance,Paramount,PG-13,200.0,1997,16946495,40140,1828,10625
2,Star Wars: The Force Awakens,2068.2,Sci-Fi Fantasy,Buena Vista,PG-13,245.0,2015,185296041,1098560,44362,209189
3,Jurassic World,1671.7,Action / Adventure,Universal,PG-13,150.0,2015,134024200,930345,47813,127443
4,Marvel's The Avengers,1518.8,Action / Adventure,Buena Vista,PG-13,220.0,2012,146332842,2919978,62906,401853

In [ ]:
#set(df['name']) - set(m_temp)
#df[df['name'] == "The Intouchables (U.S.-only)"]
#rating_avg_2.insert(234,8.6)

In [ ]:
#df['rating'] = rating_avg_2
#df.tail(5)
df.to_csv('all_data_movies_final.csv')